# Python
venv/
__pycache__/
*.pyc
*.pyo

# Environment variables
.env
backend/.env

# ML model files


# Database
*.sqlite3

# Node
frontend/node_modules/
frontend/.env
frontend/.env.local

# Build
frontend/build/
frontend/dist/